<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>😎 Password Generator 😎</h2>
        <form action="/generate" method="POST">
            <label for="length">Password length:</label><br>
            <input type="text" id="length" name="length" placeholder="Enter the password length"><br>

            <label for="special-characters">Special Characters:</label><br>
            <input type="text" id="special-characters" name="special-characters" placeholder="Enter special characters"><br>

            {% if password %}
                <div class="password-container">
                    <input type="text" value="{{ password }}" id="password" readonly>
                    <button type="button" onclick="copyPassword()">Copy</button>
                </div>
            {% endif %}
            <input type="submit" value="Generate">
        </form>

        <div class="important-box">
            <h3>Important!</h3>
            <p>Please list all special characters you want with spaces in between.
                If you need more than one special character of the same type write
                the number of times they are required next to the character without a space.
                </p>
        </div>

        <div class="important-box2">
            <h3>Example</h3>
            <p>Typing in "r &3 4" into specail character field means one r, three & symbols and one 4.
                </p>
        </div>

    </div>
    </div>
    <script>
        function copyPassword() {
            var copyText = document.getElementById("password");
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
        }
    </script>
</body>
</html>
